NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ZIG_API_TOKEN=
ZIG_REDE_ID=c2e57314-673f-408c-926a-a553dd187e8f
ZIG_LOJA_ID=e40336a8-5039-4237-b75c-972c79c7e467
CRON_SECRET=
